body {
    background-image: url("../images/projects-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
}

.navbar {
    display: flexbox;
    background-color: cadetblue;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;
}

nav  {
    font-size: 25px;
    text-align: center;
    
}

nav a {
    text-decoration: none;
    color: azure;
    letter-spacing: 2px;
    padding: 0 30px;
}

header {
    display: flexbox;
    width: 15%;
    height: 1px;
    position: relative;
    left: 41%;
    top: 50px;
    border: 2px solid white;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: black;
    background-size: 100%;
    opacity: 0.9;
    border-radius: 6%;
}

header h1{
    position: relative;
    bottom: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    
    
    color: rgb(245, 239, 239);
}

.backbutton  {
    padding-top: 60px;
    border-radius: 5px;
    
}

.backbutton input {
    background-color: brown;
    color: white;
    border-radius: 20%;
}

.projects  {
    display: inline-flex;
    text-align: center;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 150px;
    
}

#teacozy {
    display: flexbox;
    border: 2px solid white;
    color: white;
    width: 20%;
    position: relative;
    left: 20px;
    padding-left: 3px;
    background-color: black;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 6%;
}

#teacozy a {
    text-decoration: none;
    color: rgb(196, 12, 12);
    font-size: 25px;
}

#teacozy img {
    width: 40%;
}

p {
    color: white;
}

#rockpaperscissors {
    display: flexbox;
    border: 2px solid white;
    color: white;
    width: 20%;
    position: relative;
    right: 20px;
    background-color: black;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 6%;
}

#rockpaperscissors img {
    width: 30%;
}

#rockpaperscissors a {
    text-decoration: none;
    color: rgb(196, 12, 12);
    font-size: 25px;
}

#sleepcalculator {
    display: flexbox;
    border: 2px solid white;
    color: white;
    width: 20%;
    position: relative;
    right: 20px;
    background-color: black;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 6%;
}

#sleepcalculator img {
    width: 35%;
}

#sleepcalculator a {
    text-decoration: none;
    color: rgb(196, 12, 12);
    font-size: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 1480px) {
    body {
      background-image: none;
      background-color: darkblue;         
    }
  .projects {
      display: inline-table;
      width: 100%;
      height: auto;
      position: relative;
      bottom: 20px;
  }
  #sleepcalculator {
      width: 80%;
      position: relative;
      left: 35px;
      top: 20px;
      padding-bottom: 20px;
  }
  #sleepcalculator a {
    position: relative;
    bottom: 10px;
  }
  #rockpaperscissors {
    width: 80%;
    position: relative;
    left: 35px;
  }
  #rockpaperscissors a {
      position: relative;
      bottom: 10px;
  }
  #teacozy {
    width: 80%;
    position: relative;
    left: 35px;
    bottom: 20px;
    
  }
  #teacozy a {
    position: relative;
    bottom: 10px;
  }
  header {
      width: 50%;
      position: relative;
      left: 120px;
      
  }
  .navbar {
      display: inline-table;
  }
  .backbutton {
      position: relative;
      top: 70px;
  }
}