body {
    background-image: url("../images/rpc-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: flexbox;
    width: 100%;
    height: 50px;
    opacity: 0.8;
    position: relative;
    left: 0px;
    top: 10px;
    
}

h1 {
    position: relative;
    text-align: center;
    bottom: 15px;
    color: rgb(248, 244, 244);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.backbutton  {
    padding-top: 60px;
    border-radius: 5px;
    padding-left: 10px;
    
}

.backbutton input {
    background-color: brown;
    color: white;
    border-radius: 20%;
}


.display {
    display: flexbox;
    position: absolute;
    top: 150px;
    left: 520px;
    
    width: 35%;
    height: auto;
    padding-left: 10px;
    font-size: 25px;
    
    color: azure;
    opacity: 0.8;
}

.buttons {
    display: flexbox;
    position: absolute;
    top: 450px;
    left: 580px;
    
}

.buttons button {
    font-size: 20px;
    
    background-color: rgb(92, 26, 26);
    color: aliceblue;
}

#rock {
    padding: 0 30px;
    margin-right: 10px;
}

#paper {
    padding: 0 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#scissors {
    padding: 0 30px;
    margin-left: 10px;
}

@media only screen and (min-width: 420px) and (max-width: 1480px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 630px;
    }
    .display {
        display: flexbox;
        position: relative;
        left: 100px;
        top: 20px;
    }
    .buttons {
        display: flexbox;
        position: relative;
        left: 40px;
        bottom: 100px;
        top: 110px;
    }
    .buttons button {
        background-color: rgb(105, 19, 19);
    }
}